body {
  font-family: sans-serif;
}
header {
  text-align: center;
  border: 2px solid gray;
  width: 70%;
  height: 120px;
  padding: 10px 80px 10px 80px;
  margin: 0 auto;
}
img {
  width: 80%;
  margin: 1px auto;
  display: block;
}
#secondp {
  text-align: center;
  font-family: italic;
  font-size: 12px;
  color: gray;
}
section {
  background-color: #f5f5f5;
  padding: 50px 0px 40px 0px;
}
div {
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 1px 15px 1px 10px;
  width: 30%;
}
#border {
  border-bottom: 1px solid darkgray;
}
#margin {
  margin: 70px 10px 10px 220px;
  text-align: right;
}
#smargin {
  margin: 10px 10px 10px 650px;
  text-align: left;
}
.qdiv {
  border-radius: 1px;
  width: 40%;
  padding: 100px 400px 200px 400px;
  margin: 70px 1px 1px 1px;
  font-style: arial;
  font-size: 25px;
  color: gray;
}
.txright {
  text-align: right;
}
.leftbor {
  border-left: 10px solid lightgray;
  margin: 0px;
  padding: 1px 30px;
}
#button {
  background: black;
  color: white;
  width: 140px;
  height: 40px;
  border: 2px solid red;
  border-radius: 20px;
  margin: 100px 40px 20px 200px;
}
